<div class="section-features">

  <div class="row">
    <div class="col-1-of-4">
      <div class="feature-box">
        <i class="feature-box__icon icon-basic-world"></i>
        <h3 class="heading-tertiary u-margin-botton-small">Explore the world</h3>
        <p class="feature-box__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
          repellat praesentium asperiores cum corporis laudantium dolorem
        </p>
      </div>
    </div>

    <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-margin-botton-small">Meet nature</h3>
          <p class="feature-box__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
            repellat praesentium asperiores cum corporis laudantium dolorem
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-map"></i>
          <h3 class="heading-tertiary u-margin-botton-small">find your way</h3>
          <p class="feature-box__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
            repellat praesentium asperiores cum corporis laudantium dolorem
          </p>
        </div>
      </div>

      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-heart"></i>
          <h3 class="heading-tertiary u-margin-botton-small">live a healthier live</h3>
          <p class="feature-box__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis
            repellat praesentium asperiores cum corporis laudantium dolorem
          </p>
        </div>
      </div>

  </div>
</div>
