<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="assets/img/nat-8.jpg" alt="Tour Photo" class="popup__img popup__img--1" />
      <img src="assets/img/nat-9.jpg" alt="Tour Photo1" class="popup__img popup__img--2" />
    </div>

    <div class="popup__right">
      
      <a href="#section-tours" class="popup__close">&times;</a>
      
      <h2 class="heading-secondary u-margin-botton-small">Start booking now</h2>
      <h3 class="heading-tertiary u-margin-botton-small">
        Important &ndash; Please read these terms before booking
      </h3>
      <p class="popup__text u-margin-botton-medium">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Excepturi,
        nobis iste quam quas voluptates in architecto quaerat ipsum eos.
        Possimus nostrum animi dolorem, accusantium esse cupiditate facere qui!
        Impedit, sunt? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Nobis iusto temporibus reiciendis quam minus. Pariatur doloremque
        provident ea debitis? At, amet dicta esse eaque mollitia illum repellat
        cumque eveniet autem?Lorem ipsum dolor sit amet, consectetur adipisicing
        elit. Aliquam illum quo dignissimos sit modi voluptatibus odit minima
        deleniti distinctio labore voluptatem omnis, tempora fugiat dolor
        explicabo quia vitae incidunt id. Lorem ipsum dolor sit amet consectetur
        adipisicing elit. Alias fugiat officiis praesentium vel? Tenetur
        possimus doloremque perferendis expedita rerum magni totam, ipsam, aut,
        iusto necessitatibus nam quibusdam. Suscipit, maxime consequuntur!
      </p>

      <a href="#section-book" class="btn btn--green boton">Book now</a>

    </div>



  </div>

</div>
